body {
	margin:                         0;
	margin-top:			5px;
	padding:                        0;
	background-color:		#f8f8f8;
        font-size: 			14px;
	font-family:			"Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

.page {
	margin:                         auto;
	margin-top:                     0;
	width:                          850px;
}

#pagebody {
	margin:                         0;
	padding-right:                  15px;
}

h1 {
	color:                          #0D8921;
	font-weight: 			normal;
}

h2 {
	color:                          #6c6c6c;
	margin:                         0;
	margin-top:                     3px;
	font-weight: 			normal;
}

h3 {
	margin-left:                    3px;
	color:				#6C6C6C;
	font-size:			14px;
}

p {
	color:				#6C6C6C;
}

ul {
	list-style-type:		square;
}

pre {
	border-left:			2px solid #0D8921;
	margin-left:			15px;
	padding-left:			15px;
	font-family:			Monospace;
	color:				#2d5003;
}

code {
	font-family:			Monospace;
	color:				#2d5003;
}

.toptitle {
	font-family:			Verdana, Geneva, sans-serif
	display:			block;
	font-weight:			normal;
	font-size:			500%;
	color:                          #6c6c6c;
	letter-spacing:                 0.05cm;
	text-decoration:		none;
	padding:                        3px;
	float:				left;
}

#toptitle_first {
	display:			block; 
	font-size:			50px; 
}

#toptitle_second {
	color:				#0D8921;
	/*font-size:			150px;*/
	font-size:			180px;
	line-height:			80%; 
	display:			block; 
}

#toptitle_third {
	font-size:			87px;
	margin-left:			15px;
	width:				350px;
	line-height:			80%;
}
.header {
	line-height:			normal;
	font-size:			inherit;
	font-weight:			normal;
	clear: 				both;
}

.topsubtitle {
	margin-left: 			12%;
	font-style: 			italic;
}

.topsubtitle p {
	color:				#0D8921;
	margin:				0;
}

.pageheader {
}

#searchform {
	display:			block;
	float:				none;
	position:			absolute;
	top:				5px;
	width:				845px;
	height:				0; /* used to avoid the div to be over the title */
}

#searchform div {
	float:				right;
}

.site-links {
	height:				1em;
	border-top:			1px solid #dcdcd1;
	border-bottom:			1px solid #dcdcd1;
	padding:			13px 0;
	list-style-type: 		none;
	clear:				both;
}

.site-links a, .topsubtitle a {
	color:                          #6c6c6c;
	text-decoration:		none;
}
.site-links a:hover, .topsubtitle a:hover {
	color: 				#0D8921;
	text-decoration:		none;
}

/*.site-links .separator {
	display:			none;
}*/

.site-links li {
	display: 			inline;
	padding: 			7px 6px;
	margin: 			auto 5px;
}

.site-links li.current {
	background-color:		#0D8921;
}

.site-links li.current a {
	color: 				#fff;
}

/* SIDEBAR */

.sidebar {
	width:                          250px;
	margin-top:                     10px;
	margin-left:			15px;
	background-color:               #f8f8f8;
	/*border:                         1px solid #dcdcd1;*/
	border: none;
	padding:			5px;
	clear:				both; /* Clear the search form */
}

.sidebar nav {
	margin: 20px;
	width: 208px;
	border: 1px solid #CCC;
}

.sidebar h3 {
	margin: 0;
	padding: 5px;
	background: #CCC;
	font-size: 1em;
}

.sidebar li {
}

.sidebar a {
	display: block;
	color:				#0D8921;
	text-decoration:		none;
}

.sidebar a:hover {
	color:				#333;
	text-decoration:		none;
}




#pageinfo {
	border: none;
	margin:                         10px;
	text-align:                     center;
}

.actions ul {
	padding:			0;
}

#content p {
	text-align:			justify;
}

#content li {
	color:				#6C6C6C;
}

#content img {
	/*height:			40px;*/
	vertical-align:			middle;
}

.footnav a, #content a {
	color:				#0D8921;
	text-decoration:		none;
}

.footnav a:hover, #content a:hover {
	color:    			#333;
	text-decoration:		none;
}

.pagedate {
	color: 				#ddd;
	font-style: 			normal;
}

#backlinks a{
	color:				#2d5003;
	text-decoration:		none;
}

#backlinks a:hover{
	color:				#2d5003;
	text-decoration:		underline;
}

.trail a {
	color:				#2d5003;
}

