body {
	margin:                         0;
	margin-top:			5px;
	padding:                        0;
	background-color:		#f8f8f8;
        font-size: 			14px;
	font-family:			"Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

.page {
	margin:                         auto;
	margin-top:                     0;
	width:                          850px;
}

#pagebody {
	margin:                         0;
	padding-right:                  15px;
}

h1 {
	color:                          #0D8921;
	font-size:			22px;
}

h2 {
	color:                          #6C6C6C;
	font-size:			18px;
	border-bottom:			solid 3px #CCC;
}

h3 {
	color:                          #6C6C6C;
	font-size:			15px;
	border-bottom:			solid 1px #CCC;
}

p {
	color:				#6C6C6C;
}

ul {
	list-style-type:		square;
}

pre {
	border:				1px solid #CCC
	font-family:			Monospace;
	color:				#2d5003;
	background-color: 		rgb(250, 250, 250);
}

code {
	font-family:			Monospace;
	color:				#2d5003;
}

.toptitle {
	font-family:			Verdana, Geneva, sans-serif
	display:			block;
	font-weight:			normal;
	font-size:			500%;
	color:                          #6c6c6c;
	letter-spacing:                 0.05cm;
	text-decoration:		none;
	padding:                        3px;
	float:				left;
}

#toptitle_first {
	display:			block; 
	font-size:			50px; 
}

#toptitle_second {
	color:				#0D8921;
	/*font-size:			150px;*/
	font-size:			180px;
	line-height:			80%; 
	display:			block; 
}

#toptitle_third {
	font-size:			87px;
	margin-left:			15px;
	width:				350px;
	line-height:			80%;
}
.header {
	line-height:			normal;
	font-size:			inherit;
	font-weight:			normal;
	clear: 				both;
}

.topsubtitle {
	margin-left: 			12%;
	font-style: 			italic;
}

.topsubtitle p {
	color:				#0D8921;
	margin:				0;
}

.pageheader {
}

#searchform {
	float:				none;
}

#searchform input{
	background:			url("wikiicons/search-bg.png") transparent no-repeat;
	background-position:		100%;
	padding-left:			5px;
	width:				186px;
	padding-right:			17px;
	height:				25px;
	border: 			0px;
}

.site-links {
	border-top:			1px solid #dcdcd1;
	border-bottom:			1px solid #dcdcd1;
	padding:			13px 0;
	list-style-type: 		none;
	clear:				both;
}

.site-links a, .topsubtitle a {
	color:                          #6c6c6c;
	text-decoration:		none;
}
.site-links a:hover, .topsubtitle a:hover {
	color: 				#0D8921;
	text-decoration:		none;
}

/*.site-links .separator {
	display:			none;
}*/

.site-links li {
	display: 			inline;
	padding: 			7px 6px;
	margin: 			auto 5px;
}

.site-links li.current {
	background-color:		#0D8921;
	color: #fff;
}

.site-links li.current a {
	color: 				#fff;
}

/* SIDEBAR */

.sidebar {
	width:                          250px;
	margin-top:                     10px;
	margin-left:			15px;
	background-color:               #f8f8f8;
	/*border:                         1px solid #dcdcd1;*/
	border: none;
	padding:			5px;
	clear:				both; /* Clear the search form */
}

.sidebar nav {
	margin: 20px;
	width: 208px;
	border: 1px solid #CCC;
}

.sidebar h3 {
	margin: 0;
	padding: 5px;
	background: #CCC;
	font-size: 1em;
	border-bottom: none;
}

.sidebar li {
}

.sidebar a {
	display: block;
	color:				#0D8921;
	text-decoration:		none;
}

.sidebar a:hover {
	color:				#333;
	text-decoration:		none;
}




#pageinfo {
	border: none;
	margin:                         10px;
	text-align:                     center;
}

.actions ul {
	padding:			0;
}

#content p {
	text-align:			justify;
}

#content li {
	color:				#6C6C6C;
}

#content img {
	/*height:			40px;*/
	vertical-align:			middle;
}

.footnav a, #content a {
	color:				#0D8921;
	text-decoration:		none;
}

.footnav a:hover, #content a:hover {
	color:    			#333;
	text-decoration:		none;
}

.pagedate {
	color: 				#ddd;
	font-style: 			normal;
}

#backlinks a{
	color:				#2d5003;
	text-decoration:		none;
}

#backlinks a:hover{
	color:				#2d5003;
	text-decoration:		underline;
}

.trail a {
	color:				#2d5003;
}


/*****
Source code formatting
*****/

/*div.sourcecode*/ pre {
	border:				1px solid #CCC;
	padding:			10px 15px 10px 15px;
	font-family:			Monospace;
}

.keyword {
	color: 				#00008b;
}

.type, .classname {
	color: 				#2b91af;
	/*font-style: 			italic;*/
}

.string {
	color: 				#800000;
	font-family: 			monospace;
}

.regexp {
	color: 				orange;
}
.specialchar {
	color: 				darkorange;
	font-family: 			monospace;
}

span.comment {
	border:				0px;
	color: 				green;
	font-style: 			italic;
}
.number {
	color: 				darkviolet;
}

.preproc {
	color: 				darkblue;
	font-weight: 			bold;
}

.symbol {
	color: 				#2d5003;
}

.function {
	color: 				black;
	font-weight: 			bold;
}

.cbracket {
	color: 				red;
}

.todo {
	font-weight: 			bold;
	background-color: 		cyan;
}

/* line numbers */
.linenum { color: black; font-family: monospace; }

/* Internet related */
.url { color: blue; text-decoration: underline; font-family: monospace; }

/* for Prolog, Perl */
.variable { color: darkgreen; }
.italics { color: darkgreen; font-style: italic; }
.bold { color: darkgreen; font-weight: bold; }

/* for LaTeX */
.underline { color: darkgreen; text-decoration: underline; }
.fixed { color: green; font-family: monospace; }
.argument, .optionalargument { color: darkgreen; }
.math { color: orange; }
.bibtex { color: blue; }

/* for diffs */
.oldfile { color: orange; }
.newfile { color: darkgreen; }
.difflines { color: blue; }

/* for css */
.selector { color: purple; }
.property { color: blue; }
.value { color: darkgreen; font-style: italic; }


/* Mobile version, tested on Nexus5 */
@media only screen and (max-device-width: 480px) {
	/* force size of things for firefox and chrome mobile (I do not know what I am doing) */
	body { font-size: 34px; }
	h1 { font-size: 64px; }
	h2 { font-size: 54px; }
	h3 { font-size: 44px; }
	pre { font-size: 29px; }
	.footnav { font-size: 34px; }
	.trails { font-size: 24px; }

	/* hide sidebar, TODO: put sidebar to the bottom of page or similar, or behind menu */
	.sidebar {
		float: none;
		display: none;
	}
}
