body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	padding: 30px 0;
}

h1, h2, h3 {
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-weight: bolder;
}

hr {
	display: block;
	height: 1px;
	border-top: 1px solid #ccc;
	margin: 1em 30% 2em 30%;
}

p {
	margin: 0 0 20px;
}

a {
	color: #0D8921;
}

a:hover {
	color: #0D8921;
}


header {
	margin-bottom: 50px;
}

footer {
	margin-top:	25px;
	text-align: center;
	color: #888;
	font-size: 17px;
}

.toptitle {
	color:                          #6c6c6c;
	letter-spacing:                 0.05cm;
	padding:                        3px;
	float:				left;
}

a.toptitle, a.toptitle:hover {
	text-decoration: none;
	color: #6c6c6c;
}

#toptitle_first {
	font-size: 2em;
}

#toptitle_second {
	color:				#0D8921;
	font-size: 8em;
	line-height:			80%;
}

#toptitle_third {
	font-size: 3em;
	margin-left:			15px;
	width:				350px;
	line-height:			80%;
}

.topsubtitle {
	margin: 20px 5px;
	font-style:			italic;
	clear:				both;
	color:				#0D8921;
}

.slide {
	text-align: center;
	padding: 25px 100px;
	border-top: 5px solid rgba(97, 194, 97, 1);
}

.slide-green {
	background-color: #1EA133;
    color: white;
}

.slide-green a {
	color: yellow;
}

.slide-green hr {
	border-color: white;
}

.slide-first {
	background-image: url('images/corn.png'), url('images/sun.png');
	background-position: 0px 0px, -43px 0px;
	background-repeat: no-repeat, no-repeat;
}

.slide-first h1 {
	font-size: 100px;
}

.bigicon {
	font-size: 130px;
}

.text-yellow {
	color: #F0E400;
}
