body {
	margin:                         0;
	padding:                        0;
	background-color:               rgb(109,109,109);
	font-family:                    'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
	font-size:                      12px;
}

.page {
	margin:                         auto;
	margin-top:                     0;
	width:                          850px;
	background-color:               rgb(255,255,255);
	border-right:                   2px outset rgb(0,0,0);
	border-bottom:                  2px outset rgb(0,0,0);
	border-left:                    2px inset  rgb(0,0,0);
}

#pagebody {
	margin:                         0;
	padding-left:                   15px;
	padding-right:                  15px;
}

h1 {
	color:                          #7cbe31;
}

h2 {
	color:                          #7cbe31;
	margin:                         0;
	margin-top:                     3px;
}

h3 {
	margin-left:                    3px;
}

pre {
	border-left:			2px solid #7ac127;
	margin-left:			15px;
	padding-left:			15px;
	font-family:			Monospace;
	color:				#2d5003;
}

code {
	font-family:			Monospace;
	color:				#2d5003;
}

.toptitle {
	display:			block;
	font-size:                      24px;
	font-weight:			bold;
	color:                          black;
	letter-spacing:                 0.05cm;
	text-decoration:		none;
	padding:                        3px;
}

.header {
	line-height:			normal;
	font-size:			inherit;
	font-weight:			normal;
	padding:                        3px;
}

.pageheader {
}

.site-links {
	height:				1em;
	background:			#efffbc;
	padding:			5px 0;
	border-top:                     1px solid #7ac127;
	border-bottom:                  1px solid #7ac127;
	text-align:			right;
}

.site-links a {
	margin:				6px 8px;
	color:                          #3e601e;
	font-weight:                    bold;
	text-decoration:		none;
}
.site-links a:hover {
	text-decoration:		underline;
}

.site-links .separator {
	display:			none;
}

.sidebar {
	width:                          250px;
	margin-top:                     10px;
        margin-right:                   15px;
	background-color:               #efffbc;
	color:                          #4b503b;
	border:                         1px solid #7ac127;
	padding:			5px;
	clear:				both; /* Clear the search form */
}

.sidebar h2 {
	color:                          #3e601e;
	font-weight:                    normal;
	padding
}

.sidebar h2 a {
	color:				inherit;
}

.sidebar h2 img {
	float:                          right;
}

#pageinfo {
	border: none;
	margin:                         10px;
	font-size:                      90%;
	text-align:                     center;
}

.actions ul {
	padding:			0;
}
