body {
	margin-top:				15px;
	background-color:		#f8f8f8;
}

a {
	color:				#3E8632;
	text-decoration:		none;
}

a:hover {
	color:			#333;
	text-decoration:		none;
}

h1 {
	font-weight:			bold;
	color:                          #3E8632;
	font-size:			22px;
}

h2 {
	color:                          #6C6C6C;
	font-size:			18px;
	border-bottom:			solid 3px #CCC;
}

h3 {
	color:                          #6C6C6C;
	font-size:			15px;
	border-bottom:			solid 1px #CCC;
}

ul {
	list-style-type:		square;
}

dd {
	color:				#6C6C6C;
	margin-top:			1em;
	margin-bottom:			1em;
}

pre {
	border:				1px solid #CCC;
	font-family:			Monospace;
	color:				#2d5003;
	background-color:		rgb(250, 250, 250);
}

code {
	font-family:			Monospace;
	color:				#2d5003;
}

.fixed {
	width:				850px;
}

.toptitle {
	color:                          #6c6c6c;
	letter-spacing:                 0.05cm;
	padding:                        3px;
	float:				left;
}

a.toptitle:hover {
	color:                          #6c6c6c;
}

#toptitle_first {
	font-size:			3em;
}

#toptitle_second {
	color:				#3E8632;
	font-size:			11em;
	line-height:			80%;
}

#toptitle_third {
	font-size:			5em;
	margin-left:			15px;
	width:				350px;
	line-height:			80%;
}

.topsubtitle {
	margin-left:			10%;
	font-style:			italic;
	clear:				both;
	color:				#3E8632;
}

.sidebar nav {
	margin:				20px;
	width:				208px;
	border:				1px solid #CCC;
}

.sidebar h3 {
	margin: 0;
	padding: 5px;
	background: #CCC;
	font-size: 1em;
	border-bottom: none;
	font-weight: bold;
}

.sidebar a {
  display: block;
  color: #3E8632;
  text-decoration: none;
}

#searchform input {
  background: url("../images/search-bg.png") transparent no-repeat;
  background-position: 100%;
  padding-left: 5px;
  width: 100%;
  padding-right: 17px;
  height: 25px;
  border: 0px;
}

footer {
	margin-top:			20px;
}

.trail {
	padding: 0;
	text-align: center;
	list-style: none;
	color: #838183;
}

.trail li {
	display: inline-block;
}

.trail li+li:before{
	content: "\00a0|\00a0";
}

.nit-name-logo-container {
	width: 200px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
}
.nit-name-logo-container img {
	width: 100%;
}

/* HIGHLIGHT */

.hl.num { color:#b07e00; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#bf0303; }
.hl.pps { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.ppc { color:#008200; }
.hl.opt { color:#000000; }
.hl.ipl { color:#0057ae; }
.hl.lin { color:#555555; }
.hl.kwa { color:#000000; font-weight:bold; }
.hl.kwb { color:#0057ae; }
.hl.kwc { color:#000000; font-weight:bold; }
.hl.kwd { color:#010181; }
